* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

::selection {
  background: rgb(97, 91, 72);
}

::-moz-selection {
  background: rgb(97, 91, 72);
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #c4b483;
}

a:focus {
  color: #504912;
}

@font-face {
  font-family: "gothic_ultra_otregular";
  src: url("gothic_ultra_ot-webfont.eot");
  src: url("gothic_ultra_ot-webfont.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "deutsch_gothicnormal";
  src: url("Deutsch-webfont.eot");
  src: url("Deutsch-webfont.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

/*
*
*
*
************* MOBILE *************
*
*
*
*/

body {
  display: grid;
  row-gap: 5vw;
  grid-template:
    "h h h"
    "s s s"
    "f f f";
  background-color: black;
  color: white;
}

#clip {
  display: none;
}

/*
*
******** header ********
*
*/

header {
  grid-area: h;
  position: sticky;
  top: 0;
  background-color: black;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 50px black;
  font-family: deutsch_gothicnormal;
}

h1 {
  font-size: 2rem;
}

.navButton {
  border: none;
  height: 10vh;
  width: 20vw;
  background-color: black;
  background-image: url(assets/icons/icone_bat.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8vh;
}

.playerButton {
  border: none;
  height: 10vh;
  width: 20vw;
  background-color: black;
  background-image: url(assets/icons/icone_play.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 6vh;
}

/*
*
******** nav ********
*
*/

nav {
  display: none;
  position: fixed;
  top: 10vh;
  left: 5vh;
  background-color: rgb(32, 31, 28);
  width: 40%;
  height: 50vh;
  border: solid rgb(165, 161, 161) 0.1rem;
  border-radius: 1.5rem;
  /* box-shadow: 0 0 10px, inset 0 0 10px; */
  font-family: deutsch_gothicnormal;
  font-size: 2rem;
  box-shadow: 0 0 20px black;
  z-index: 1;
  transition: 0.5s;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  height: 100%;
}

/*
*
******** section ********
*
*/

section {
  grid-area: s;
  padding: 0 5%;
  text-align: justify;
  font-family: gothic_ultra_otregular;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section * {
  margin-top: 5vh;
}

#about .text {
  border-radius: 1rem;
  padding: 2vh;
}

#about img {
  height: 40vh;
  border: solid 1vh rgb(32, 31, 28);
  border-radius: 50%;
  box-shadow: 0 0 20px black;
}

#dicton {
  margin-top: 0;
  font-size: 40px;
  width: 80vw;
  border-radius: 1rem;
  padding: 2vh;
}

#anonyme {
  margin-top: 0;
  width: 80vw;
  text-align: right;
  font-size: 20px;
}

#history .htext {
  border-radius: 1rem;
  padding: 2vh;
}

#history img {
  width: 80vw;
  border-radius: 5rem;
}

#history .bat {
  width: 20vw;
}

#bands img {
  width: 80%;
  border-radius: 2rem;
  box-shadow: 0 0 20px black;
}

.btitle {
  background-color: rgb(32, 31, 28);
  border-radius: 0.5rem;
  padding: 1vh 5vw;
  margin-top: 10vh;
  font-family: deutsch_gothicnormal;
}

#bands .bimgd {
  display: none;
}

/*
*
******** aside ********
*
*/

aside {
  display: none;
  position: fixed;
  top: 12vh;
  right: 3vh;
  background-color: rgb(32, 31, 28);
  width: 70vw;
  height: 70vh;
  padding: 5vh;
  border: solid rgb(165, 161, 161) 0.1rem;
  border-radius: 1.5rem;
  overflow-y: scroll;
  box-shadow: 0 0 20px black;
  z-index: 1;
}

aside div {
  margin-top: 2vh;
  padding: 2vh;
  height: 15vh;
  background-repeat: no-repeat;
  background-position: center 25%;
  background-size: 20vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

aside p {
  background-color: #000000cb;
}

#cure {
  background-image: url(/assets/logos/logo_the_cure.jpg);
}

#siouxie {
  background-image: url(/assets/logos/logo_siouxie.jpg);
}

#bauhaus {
  background-image: url(/assets/logos/logo_bauhaus.jpg);
}

#christian {
  background-image: url(/assets/logos/logo_christian_death.jpg);
}

#joy {
  background-image: url(/assets/logos/logo_joy_division.jpg);
}

#rosa {
  background-image: url(/assets/logos/logo_rosa_crux.jpg);
}

#sopor {
  background-image: url(/assets/logos/logo_sopor_aeternus.jpg);
}

#cinema {
  background-image: url(/assets/logos/logo_cinema_strange.jpg);
}

audio {
  width: 80%;
  padding: 0 10%;
  border-radius: 1.2rem;
}

/*
*
******** footer ********
*
*/

footer {
  grid-area: f;
  margin-top: 5vh;
  padding: 0 5%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

/*
*
*
*
************* TABLET *************
*
*
*
*/

@media (min-width: 768px) {
  body {
    grid-template:
      "h h h"
      "f s s"
      "f s s";
    row-gap: 5vh;
  }

  #clip {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
  }

  /*
*
******** header ********
*
*/

  header {
    display: grid;
    grid-template:
      "nb h1"
      "pb h1";
    row-gap: 0;
    column-gap: 0;
    height: 20vh;
    padding: 1vh 0;
    box-shadow: 0 10px 20px black;
  }
  .navButton {
    grid-area: nb;
    width: 15vw;
  }
  .playerButton {
    grid-area: pb;
    width: 15vw;
  }
  h1 {
    grid-area: h1;
    width: 85vw;
    text-align: center;
    font-size: 4rem;
  }

  /*
*
******** nav ********
*
*/

  nav {
    left: 13vw;
  }

  /*
*
******** section ********
*
*/

  section {
    padding: 5vh 5vw;
    width: 75vw;
  }

  #about .text {
    background-color: rgb(32, 31, 28, 0.7);
    width: 70vw;
    box-shadow: 0 0 20px black;
  }

  #about img {
    border: solid 1vh rgb(32, 31, 28, 0.7);
  }

  #dicton {
    background-color: rgb(32, 31, 28, 0.7);
    width: 50vw;
    box-shadow: 0 0 20px black;
  }

  #anonyme {
    width: 60vw;
  }

  #history * {
    margin-top: 8vh;
  }

  #history .htext {
    background-color: rgb(32, 31, 28, 0.7);
    box-shadow: 0 0 20px black;
  }

  #history .himg {
    width: 40vw;
    border: solid 1vh rgb(32, 31, 28, 0.7);
    box-shadow: 0 0 20px black;
    border-radius: 50;
  }

  #history .bat {
    width: 10vw;
  }

  #bands .btitle {
    box-shadow: 0 0 20px black;
  }

  #bands .btext {
    background-color: rgb(32, 31, 28, 0.7);
    box-shadow: 0 0 20px black;
    border-radius: 1rem;
    padding: 2vh;
  }

  #bands .bimg {
    width: 40vw;
    border: solid 1vh rgb(32, 31, 28, 0.7);
    box-shadow: 0 0 20px black;
  }

  /*
*
******** aside ********
*
*/

  aside {
    left: 17vw;
  }

  aside div {
    padding: 2vh;
    height: 25vh;
    background-size: 30vh;
  }

  /*
*
******** footer ********
*
*/

  footer {
    position: fixed;
    bottom: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    height: 80vh;
    width: 15vw;
    padding: 1vh 0;
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .links * {
    padding: 1vh 0;
  }
  .ccIcon,
  .shareIcon,
  .mailIcon,
  .facebookIcon {
    width: 5vw;
  }
}

/*
*
*
*
************* DESKTOP *************
*
*
*
*/

@media (min-width: 1440px) {
  body {
    display: grid;
    grid-template:
      "n h a"
      "n s a"
      "f f f";
  }
  .navButton {
    display: none;
  }
  .playerButton {
    display: none;
  }

  /*
*
******** header ********
*
*/

  header {
    position: relative;
    grid-area: h;
    height: 17vh;
    width: 60vw;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0 20px black;
  }

  h1 {
    text-align: center;
    width: 60vw;
    font-size: 8rem;
  }

  /*
*
******** nav ********
*
*/

  nav {
    display: block;
    grid-area: n;
    position: sticky;
    top: 5vh;
    left: 0;
    height: 40vh;
    width: 15vw;
    border-style: none;
    box-shadow: none;
    padding: 2.5vh;
    background-color: transparent;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  li {
    height: 5vh;
    width: 10vw;
    background-color: rgb(32, 31, 28);
    text-align: center;
    line-height: 5vh;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px black;
  }

  /*
*
******** section ********
*
*/

  section {
    width: 50vw;
    padding-top: 0;
    font-size: 40px;
  }

  #about .text {
    width: 30vw;
  }

  #dicton {
    font-size: 50px;
    width: 20vw;
  }

  #anonyme {
    width: 25vw;
    font-size: 30px;
  }

  #history {
    display: grid;
    grid-template:
      "hp1 hp2"
      "himg1 himg1"
      "hp3 hp4"
      "himg2 himg2"
      "hp5 hp5"
      "himg3 himg3";
  }

  #hp1 {
    grid-area: hp1;
  }

  #hp2 {
    grid-area: hp2;
  }

  #hp3 {
    grid-area: hp3;
  }

  #hp4 {
    grid-area: hp4;
  }

  #hp5 {
    grid-area: hp5;
  }

  #himg1 {
    grid-area: himg1;
  }

  #himg2 {
    grid-area: himg2;
  }

  #himg3 {
    grid-area: himg3;
  }

  .bat {
    display: none;
  }

  .htext {
    margin: 0 2vh;
    height: 90%;
  }

  .himg {
    margin: 0 10%;
  }

  #bands {
    display: grid;
    grid-template:
      "t1 t1"
      "te1 i1"
      "te1 i1b"
      "te1 i1c"
      "i2 te2"
      "i2b te2"
      "i2c te2"
      "te3 i3"
      "te3 i3b"
      "te3 i3c"
      "t2 t2"
      "i4 te4"
      "i4b te4"
      "i4c te4"
      "te5 i5"
      "te5 i5b"
      "te5 i5c"
      "t3 t3"
      "te6 i6"
      "te6 i6b"
      "te6 i6c"
      "t4 t4"
      "i7 te7"
      "i7b te7"
      "i7c te7"
      "te8 i8"
      "te8 i8b"
      "te8 i8c";
  }

  #btitle1 {
    grid-area: t1;
  }

  #btitle2 {
    grid-area: t2;
  }

  #btitle3 {
    grid-area: t3;
  }

  #btitle4 {
    grid-area: t4;
  }

  #bimg1 {
    grid-area: i1;
  }

  #bimg1b {
    grid-area: i1b;
  }

  #bimg1c {
    grid-area: i1c;
  }

  #bimg2 {
    grid-area: i2;
  }

  #bimg2b {
    grid-area: i2b;
  }

  #bimg2c {
    grid-area: i2c;
  }

  #bimg3 {
    grid-area: i3;
  }

  #bimg3b {
    grid-area: i3b;
  }

  #bimg3c {
    grid-area: i3c;
  }

  #bimg4 {
    grid-area: i4;
  }

  #bimg4b {
    grid-area: i4b;
  }

  #bimg4c {
    grid-area: i4c;
  }

  #bimg5 {
    grid-area: i5;
  }

  #bimg5b {
    grid-area: i5b;
  }

  #bimg5c {
    grid-area: i5c;
  }

  #bimg6 {
    grid-area: i6;
  }

  #bimg6b {
    grid-area: i6b;
  }

  #bimg6c {
    grid-area: i6c;
  }

  #bimg7 {
    grid-area: i7;
  }

  #bimg7b {
    grid-area: i7b;
  }

  #bimg7c {
    grid-area: i7c;
  }

  #bimg8 {
    grid-area: i8;
  }

  #bimg8b {
    grid-area: i8b;
  }

  #bimg8c {
    grid-area: i8c;
  }

  #btext1 {
    grid-area: te1;
  }

  #btext2 {
    grid-area: te2;
  }

  #btext3 {
    grid-area: te3;
  }

  #btext4 {
    grid-area: te4;
  }

  #btext5 {
    grid-area: te5;
  }

  #btext6 {
    grid-area: te6;
  }

  #btext7 {
    grid-area: te7;
  }

  #btext8 {
    grid-area: te8;
  }

  #bands .btitle {
    width: 25vw;
    text-align: center;
    margin: 5vh 10vw;
  }

  #bands .btext {
    width: 23vw;
    margin-bottom: 5vh;
  }

  #bands .bimg {
    width: 23vw;
    margin: 0 0.5vw;
  }

  #bands .bimgd {
    display: block;
  }

  /*
*
******** aside ********
*
*/

  aside {
    display: block;
    grid-area: a;
    position: sticky;
    top: 5vh;
    right: 0;
    height: 35vh;
    width: 15vw;
    padding: 2.5vh;
    border-style: none;
    background-color: rgb(32, 31, 28);
    border-radius: 0.5rem;
    transition:height 0.5s;
  }

  aside:hover {
    height: 75vh;
  }

  aside div {
    background-size: 20vh;
  }

  audio {
    padding: 1vh 0;
    width: 100%;
  }

  /*
*
******** footer ********
*
*/

  footer {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    width: 98vw;
    padding: 1vh;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .links * {
    padding: 0 1vw;
  }

  .facebookIcon {
    padding-right: 0;
  }
}
